.BeltTest-paper{
    border-radius: 12px;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);

}

.Grade-paper {
    padding: 10px;
    border-radius: 12px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);
}